<header>
  <div class="wrapper">
    <div class="img-wrapper">
      <img
        class="brand-logo"
        src="/assets/logo.svg"
        alt="logo"
        aria-hidden="true"
      />
    </div>
    <div class="search-wrapper">
      <div class="search-box">
        <div><span>Discover places</span></div>
        <div><span>Create your itinerary</span></div>
      </div>
    </div>
    <div class="nav-wrapper">
      <div class="apply">
        <span>Spread your talent </span>
        <span><fa-icon [icon]="faGlobe" /></span>
      </div>
      <div class="nav-box">
        <div>
          <span><fa-icon [icon]="faBars" size="sm" /></span>
        </div>
        <div>
          <span>
            <fa-icon [icon]="faCircleUser" size="xl" />
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
