<div class="home-wrapper">
  <div class="home-flex">
    <section>SECTION 1</section>
    <section class="story-section">
      <div class="content">
        <h4>This is our story</h4>
        <p>
          I'm a paragraph. Click here to add your own text and edit me. It’s
          easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font. I’m a great place for you to
          tell a story and let your users know a little more about you.
        </p>
      </div>
      <div class="extra"></div>
    </section>
  </div>
</div>
