<footer>
  <div class="footer-wrapper">
    <div class="copyright">
      <div>
        <span>2023, MÜVON, Inc.</span>
      </div>
    </div>
    <div class="footer-links">
      <div>
        <div><span>Terms</span></div>
        <div><span>Privacy</span></div>
        <div><span>Your pravicy choice</span></div>
        <div><span>Destinations</span></div>
      </div>
      <div>
        <div><span>English (US)</span></div>
        <div><span>$ USD</span></div>
        <div><span>Supports & resources</span></div>
      </div>
    </div>
  </div>
</footer>
