footer {
  height: 60px;
  background-color: var(--primary-color);
  padding: 0.4rem 1.2rem;
  color: white;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;

  .copyright {
    display: flex;
    align-items: center;
    flex: 1 1 0;
  }

  .footer-links {
    flex: 5 1 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      display: flex;
      flex-direction: row;
      gap: 1.8rem;
    }
  }
}
